@font-face {
  font-family: "DM Sans";
  src: url("./assets/fonts/DMSans-Regular.woff") format("woff"), url("./assets/fonts/DMSans-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Playfair Display";
  src: url("./assets/fonts/PlayfairDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
